body {
    padding: 0;
    margin: 0;
    /* background-color: orange; */
}

#landing-page {
    /* border: 2px solid red; */
    background-color: #00B875;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#landing-page .intro h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

#landing-page .intro p {
    color: white;
    font-weight: bolder;
    font-style: italic;
}

.hide {
    display: none !important;
}



a {
    text-decoration: none;
}

a:any-link {
    color: white;
}

a:focus {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

#first-grid-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 80vh;
}

.first-flex-box {
    /* align-content: center; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    row-gap: 2px;
    /* width: 50%; */
}


.item {
    /* border: 2px solid green; */
    align-self: center;
}

.pfp img {
    border-radius: 50%;
}

.username {
    margin-top: -25px;
}

.input-field p {
    text-align: right;
}

.input-field form input {
    /* border: none; */
    background-color: #F8F8FA;
    border: 1px solid #00B875;
    border-radius: 0.6em;
    padding: 15px;
    width: 300px;
}

.login {
    padding-bottom: 20px;
}

.login button {
    /* background-color: #0000FF50; */
    background-color: #B4E9D593;
    color: white;
    border: none;
    border-radius: 1.2em;
    padding: 15px;
    width: 250px;
    /* height: 30px; */
}

.numpad {
    background-color: #F8F8FA;
    border-radius: 0.5em;
}

.numpad div button {
    background-color: white;
    border: none;
    border-radius: 0.5em;
    width: 80px;
    padding: 20px;
    margin: 2px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #00B875;
  opacity: 0.5;
}

/* .hide-keypad {
    display: none;
} */



/* @media (max-width: 680px) {
    body {
        background-color: black;
    } */

    /* #first-grid-container {
        border: 2px solid red;
        gap: 0px;
        height: 80vh;
    }

    .first-flex-box {
        margin-top: -50px;
        gap: 0px;
    }

    .item {
        border: 2px solid green;
    }

    .username {
        color: white;
    } */
/* } */
